.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: auto 0;
}

section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

section img{
    max-width: 500px;
    height: auto;
}